@font-face {
  font-family: "Gilroy-Extra-bold";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open-Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
        url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open-Sans-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Extra-bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.button {
  position: relative;
  text-align: center;
  display: inline-flex;
  color: #000000;
  font-family: "Gilroy-Extra-bold";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.15px;
  border: none;
  cursor: pointer;
  padding: 9px;
  background-color: transparent;
}

.button::before {
  content: "";
  top: 15px;
  position: absolute;
  z-index: -1;
  width: 160px;
  height: 8px;
  background-color: #f0c52e;
}

.button:hover::before {
  top: 0;
  height: 40px;
}

.button:active {
  color: rgba(0,0,0,.3);
}

.button:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

/*======block header======*/
.header-main {
  background-color: #f7e296;
  margin-right: 140px;
  margin-left: 140px;
  margin-top: 40px;
}

.header-main-logo {
  font-size: 48px;
  text-transform: uppercase;
  color: #000000;
  display: block;
  left: 59px;
  top: -28px;
  margin-bottom: 10px;
}

.header-main-logo:hover {
  opacity: 0.6;
}

.header-main-logo:active {
  opacity: 0.3;
}

.header-main-logo:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.header-service-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;

}

.header-service-list input {
  opacity: 0.3;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
  border: none;
  cursor: pointer;
  background-color: #f7e296;
}

.header-service-list input:hover {
  opacity: 0.6;
}

.header-service-list input:focus {
  opacity: 1;
  border-bottom: #000000 solid 2px;
}

.header-service-list input:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.header-service-list button {
  border: none;
  background-color: #ffffff;
  font: inherit;
  cursor: pointer;
  background-color: #f7e296;
}

.header-service-list button:hover {
  opacity: 0.6;
}

.header-service-list a:hover {
  opacity: 0.6;
  border-bottom:
}

.header-service-list button:active {
  opacity: 0.3;
}

.header-service-list a:active {
  opacity: 0.3;
}

.header-service-list button:focus,
.header-service-list a:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.header-service-list a {
  color: #000000;
}

.search {
  display: none;
}
/*======block header======*/

/*======block navigation======*/
.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;
}

.site-navigation,
.site-navigation-hidden {
  list-style: none;
}

.site-navigation-hidden {
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 150px;
}

.site-navigation-hidden {
  font-family: "Open-Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.site-navigation a:hover,
.site-navigation-hidden a:hover {
  opacity: 0.6;
}

.site-navigation a:active,
.site-navigation-hidden a:active {
  opacity: 0.3;
}

.site-navigation a:focus,
.site-navigation-hidden a:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.site-navigation button {
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  border: none;
  cursor: pointer;
  background-color: #f7e296;
}

.site-navigation button:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.site-navigation a,
.site-navigation-hidden a {
  color: #000000;
  text-transform: uppercase;
}

.search {
  background-color: #f7e296;
  border: 2px solid #000000;
}

.header-service-list .search:hover {
  color: #ffffff;
  border: 2px solid #000000;
  background-color: #000000;
  opacity: 1;
}

.header-service-list .search:active {
  color: #424242;
  border: 2px solid #000000;
  background-color: #000000;
  opacity: 1;
}

/*======block navigation======*/

/*======block slider======*/
.slider-content {
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
  top: -110px;
}

.image-block {
  flex-grow: 1;
}

.slider-content-block {
  flex-grow: 1;
}

.slider-content-two,
.slider-content-three {
  display: none;
}

.slider-title {
  font-size: 47px;
  letter-spacing: 0.17px;
}

.slide-number {
  /*color: #ffffff;*/
  font-size: 179px;
  line-height: 179.2px;
  letter-spacing: 0.36px;
}

.slider-text {
  width: 479px;
  color: #464646;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.slider-switches {
  list-style: none;
}

.feature-item td {
  font-family: "Gilroy-Light";
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0.36px;
}

.feature-item th {
  color: #464646;
  font-family: "Open-Sans-Light";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.slide-btn:hover {
  opacity: 0.3;
}

.slide-btn:active {
  opacity: 1;
}

.slide-btn:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}
/*======block slider======*/

/*======block popular-products======*/
.popular-products {
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 80px;
}

.items-products {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.items-products li {
  flex-grow: 1;
}

.products-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.items-products a {
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.products-link-wrapper:hover {
  background-color: #f0c52e;
}

.products-link-wrapper:active img {
  background-color: #f0c52e;
  filter: opacity(25%);
}

.products-link-active:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

/*======block popular-products======*/

/*======block services======*/
.services {
  display: flex;
  margin-bottom: 94px;
}

.guarantee,
.credit {
  display: none;
}

.services-description {
  background-color: #e5e5e5;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 423px;
}

.services-description {
  width: 1020px;
}

.services-list a:active {
  color: #f7e184;
  background-color: #000000;
}

.services-title {
  color: #000000;
  font-size: 47px;
  font-weight: 400;
  letter-spacing: 0.21px;
}

.services-text {
  color: #464646;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}
/*======block services======*/

/*======block brands======*/
.brands {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 143px;
  margin-bottom: 93px;
}

.brands-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  min-height: 100px;
  flex-grow: 1;
}

.brands-link {
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands-link:hover,
.brands-link:focus {
  filter: none;
  opacity: 1;
}
/*======block brands======*/

/*======block info======*/
.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
  margin-left: 140px;
  min-height: 562px;
  margin-bottom: 92px;
}

.info {
  width: 462px;
}

.info-header {
  font-size: 47px;
  letter-spacing: 0.21px;
}

.info-text {
  color: #464646;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.info-list a {
  font-size: 16px;
  line-height: 40px;
}
/*======block info======*/

/*======block contact======*/
.contact {
  width: 561px;
}

.contact-header {
  font-size: 47px;
  letter-spacing: 0.21px;
}

.contact-text {
  color: #464646;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

/*======block contact======*/

/*======block footer======*/
.main-footer {
  display: flex;
  justify-content: space-around;
}

.main-footer {
  background-color: #464646;
}

.footer-user {
  min-height: 323px;
  flex-grow: 1;
}

.footer-conditions {
  flex-grow: 1;
}

.footer-social {
  flex-grow: 1;
}

.logo-footer {
  color: #ffc600;
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.footer-user-menu {
  list-style: none;
}

.footer-user-menu a {
  color: #ffffff;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  opacity: 0.7;
}

.footer-user-menu a:hover {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-user-menu a:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.footer-conditions p {
  color: #ffffff;
  font-family: "Open-Sans-Light";
  font-size: 15px;
  line-height: 30px;
}

.footer-conditions-menu {
  list-style: none;
}

.footer-conditions-menu a {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-conditions-menu a:hover {
  opacity: 0.6;
}

.footer-conditions-menu a:active {
  opacity: 0.3;
}

.footer-conditions-menu a:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.social-buttons {
  list-style: none;
}

.social-button {
  display: inline-flex;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-facebook {
  width: 32px;
  height: 32px;
  background-position: -62px -10px;
}

.social-instagram {
  width: 32px;
  height: 32px;
  background-position: -10px -10px;
}

.social-twitter {
  width: 32px;
  height: 32px;
  background-position: -10px -62px;
}

.social-button:hover {
  opacity: 0.6;
}

.social-button:active {
  opacity: 0.1;
}

.footer-social a {
  color: #ffffff;
}

.social-buttons:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
  opacity: 1;
}

.copyright {
  display: inline-flex;
  font-size: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.copyright-logo {
  width: 27px;
  height: 34px;
  background-position: -114px -10px;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}

.copyright:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}
/*======block footer======*/


/*======block modal-contact======*/
.modal-wrapper {
  background-color: #ffffff;
}

.communication-item {
  position: relative;
  z-index: 1;
}

.communication-item label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
}

.communication-item input,
.communication-item textarea {
  opacity: 0.4;
  color: #464646;
  font-family: "Open-Sans";
  font-size: 14px;
  line-height: 18px;
  background-color: #f2f2f2;
}

.communication-item input:hover,
.communication-item textarea:hover {
  background-color: #eaeaea;
}

.communication-item input:active,
.communication-item textarea:active {
  border: 3px solid #f0c52e;
  background-color: #ffffff;
  opacity: 0.5;
}

.communication-item input:focus,
.communication-item textarea:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}
/*======block modal-contact======*/

/*style-catalog*/
/*======breadcrumbs======*/
.breadcrumbs-wrapper {
  top: -68px;
  left: 201px;
  width: 483px;
  margin-bottom: -20px;
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.breadcrumbs a {
  opacity: 0.3;
  color: #000000;
  font-family: "Open-Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.14px;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs a:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}
/*======breadcrumbs======*/

/*======filter======*/
.filter-wrapper {
  display: flex;
}

.filter {
  width: 468px;
  background-color: #eeeeee;
}

.filter-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  background-color: #dbdbdb;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  letter-spacing: 0.18px;
}

.range-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  padding-left: 40px;
}

.toggle-min::before {
  content: url("../img/filter-button.svg");
  cursor: pointer;
}

.toggle-max::before {
  content: url("../img/filter-button.svg");
  cursor: pointer;
}

.filter-option {
  list-style: none;
}

.filter-option label {
  font-family: "Open-Sans-Light";
  font-size: 14px;
  ine-height: 40px;
  letter-spacing: 0.14px;
  cursor: pointer;
}

.selected-price span {
  opacity: 0.2;
  font-family: "Gilroy-Light";
  font-size: 14px;
  line-height: 22.27px;
}

.price-position-zero {
  padding-left: 40px;
}

.price-position {
  padding-left: 40px;
}

.filter-send {
  position: relative;
  z-index: 1;
}

.filter-option input:hover {
  opacity: 0.6;
  cursor: pointer;
}

.filter-option input:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

/*======filter======*/

/*======catalog======*/
.catalog {
  width: 972px;
}

.catalog-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  width: 761px;
  margin-left: 71px;
  margin-right: 140px;
  margin-bottom: 44px;
}

.catalog-item {
  width: 360px;
}

.catalog-item:nth-child(-n+2) {
  margin-bottom: 50px;
}

.sorting-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  background-color: #ebebeb;
}

.sorting {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 69px;
}

.sorting-items {
  list-style: none;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  width: 560px;
}

.sorting-title {
  margin: 0;
  padding: 0;
  width: 180px;
  margin-left: 73px;
}

.sorting-items a {
  color: #000000;
  font-family: "Open-Sans";
  font-size: 14px;
  line-height: 18px;
}

.sorting-items li:nth-child(n+2) {
  opacity: 0.3;
}

.sorting-items a:hover {
  opacity: 0.6;
}

.sorting-items a:active {
  opacity: 1;
}

.sorting-items a:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}
/*======catalog======*/

/*======catalog-item======*/
.catalog-description {
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.price {
  color: #464646;
  font-family: "Gilroy-Light";
  font-size: 16px;
  letter-spacing: 0.16px;
}

.catalog-description:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}
/*======catalog-item======*/

/*======pages======*/
.pages {
  display: flex;
  min-height: 70px;
  margin-right: 140px;
  margin-left: 72px;
  margin-bottom: 70px;
  background-color: #ebebeb;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  min-height: 70px;
}

.pagination-list a {
  color: #000000;
  font-family: "Gilroy-Extra-bold";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.pagination-list li:nth-child(n+2) {
  opacity: 0.3;
}

.pagination-list li:hover {
  opacity: 0.6;
}

.pagination-list li:active {
  opacity: 1;
}

.pagination-list a:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.prev {
  width: 120px;
}

.next {
  width: 120px;
}

.prev,
.next {
  font-family: "Gilroy-Extra-bold";
  font-size: 16px;
  text-transform: uppercase;
  background-color: #ebebeb;
  border: none;
}

.prev:hover,
.next:hover {
  background-color: #d9d9d9;
}

.prev:active,
.next:active {
  background-color: #d9d9d9;
}

.prev:focus,
.next:focus {
  outline: none;
  box-shadow:
  0 0 0 2px #ffffff,
  0 0 0 3px #000000;
}

.pages button:active {
  opacity: 0.3;
}
/*======pages======*/


/*======item-overlay======*/
.item-overlay {
  background-color: #eeeeee;
}

.item-hover {
  position: relative;
  z-index: 1;
}

.add-to {
  opacity: 0.5;
  color: #000000;
  font-family: "Open-Sans-Light";
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
}
/*======item-overlay======*/
